.git
.github
.pytest_cache
.venv
.venv-1
__pycache__
*.pyc
*.pyo
*.pyd
*.log
*.zip
*.png
*.pdf
*.sqlite
*.db
node_modules
01-main
01-app-main
Darya-designs-main
open-interpreter-fork-main
dashboard-agent-swarm
files
.archive
THE PAULI FILES
kilo-code-secrets.json
master.env
master.env.txt
**/*.env
