aiohttp==3.13.3
aiosignal==1.3.1
alembic==1.10.4
async-timeout==4.0.2
attrs==23.1.0
blinker==1.6.2
certifi==2024.7.4
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
dataclasses-json==0.5.7
Flask==2.3.2
Flask-Login==0.6.2
Flask-Migrate==4.0.4
Flask-SQLAlchemy==3.0.3
frozenlist==1.3.3
greenlet==2.0.2
idna==3.7
importlib-metadata==6.6.0
importlib-resources==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.6
langchain==1.2.10
Mako==1.2.4
MarkupSafe==2.1.2
marshmallow==3.26.2
marshmallow-enum==1.5.1
multidict==6.0.4
mypy-extensions==1.0.0
numexpr==2.14.1
numpy==1.24.3
oauthlib==3.2.2
openai==0.27.5
openapi-schema-pydantic==1.2.4
packaging==23.1
pydantic==1.10.13
PyYAML==6.0
requests==2.32.4
requests-oauthlib==1.3.1
SQLAlchemy==2.0.11
tenacity==8.2.2
tqdm==4.66.3
typing-extensions==4.5.0
typing-inspect==0.8.0
urllib3==2.6.3
Werkzeug==3.1.5
yarl==1.9.2
zipp==3.19.1
